*{
    padding: 0;
    margin: 0;
}

li{
    display: inline;
    padding: 10px;
   
     
}
header{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-family: "roboto", sans-serif;
   
}

button {
	background-color: #3A8DEC;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 8px 15px;
	border-radius: 4px;
}

a:link{
    text-decoration: none;
    color: black;
}

#imagegoogle
{
display: flex;
justify-content: center;
align-items: center;
}

footer{
 display: flex;
align-items: flex-end;
margin-bottom: 10px; 
}